.header-container {
    height: 90px;
    background-color: #5A5A5A;
    background-color: black;
    padding-left: 10px;
    display: flex;
    
    align-items: center;


    &__logo{
        
        

        &-text {
            color: white;
            font-size: 30px;
            font-weight: bold;
            span{
                color: #e4605e;
            }
          }
    }
}